## **Assigning** **Variables**

In [1]:
firstName = "Natalie"
print(firstName)

Natalie

In [5]:
x = 2
y = 7
print(x+y)

9

## **Data** **Types**

In [2]:
x = 2
y = 3.14
z = 4 + 5j
print(type(x))

<class 'int'>

In [3]:
print(type(z))

<class 'complex'>

In [4]:
print(type(y))

<class 'float'>

In [6]:
myList = [1,2,3,4,5]
myTuple = (1,2,3,4,5)
myRange =range(1,5)
print(type(myList))

<class 'list'>

In [7]:
print(type(myTuple))

<class 'tuple'>

In [8]:
print(type(myRange))

<class 'range'>

# **Mapping/Dictionary(Key:Value Pairs)**

In [10]:
pyrocyber={"Name":"Khosa", "Age": 23, "Sport":"Rugby", "Food":"Chapati"}
pyrocyber["Name"]

'Khosa'

In [11]:
print(pyrocyber)

{'Name': 'Khosa', 'Age': 23, 'Sport': 'Rugby', 'Food': 'Chapati'}